<?xml version='1.0' encoding='utf-8'?>
<widget id="com.theprimacy.thehartford.extramile" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ExtraMile</name>
    <description>
        An Apache Cordova application that wraps The Hartford Extra Mile website to work disconnected.
    </description>
    <author email="scott.roberson@theprimacy.com" href="http://theprimacy.com">
        Scott Roberson and the Primacy team
    </author>
    <content src="index.html" />
    <icon src="icon.png"/>
    <icon src="www/res/icon/ios/icon-40.png" platform="ios" width="40" height="40" />
    <icon src="www/res/icon/ios/icon-40@2x.png" platform="ios" width="80" height="80" />

    <icon src="www/res/icon/ios/icon-50.png" platform="ios" width="50" height="50" />
    <icon src="www/res/icon/ios/icon-50@2x.png" platform="ios" width="100" height="100" />

    <icon src="www/res/icon/ios/icon-60.png" platform="ios" width="60" height="60" />
    <icon src="www/res/icon/ios/icon-60@2x.png" platform="ios" width="120" height="120" />

    <icon src="www/res/icon/ios/icon-72.png" platform="ios" width="72" height="72" />
    <icon src="www/res/icon/ios/icon-72@2x.png" platform="ios" width="144" height="144" />

    <icon src="www/res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
    <icon src="www/res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
    <!-- icon-83.5@2x.png need this to be actual size -->
    <icon src="www/res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
    <icon src="www/res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
    <icon src="www/res/icon/ios/icon-Small-40.png" platform="ios" width="40" height="40" />
    <icon src="www/res/icon/ios/icon-Small-40@2x.png" platform="ios" width="80" height="80" />

    <splash src="www/res/screen/ios/screen-iphone-portrait.png" platform="ios" width="768" height="1024" />
    <splash src="www/res/screen/ios/screen-ipad-landscape.png" platform="ios" width="1024" height="768" />
    <splash src="www/res/screen/ios/screen-iphone-portrait@2x.png" platform="ios" width="1536" height="2048" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
